body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.title{
  margin-top:5%;
  text-decoration: underline;
}
.image-container{
  width:80%;
  padding:1%;
  margin:0 auto;
  background:lightcyan;
  border-radius: 5%;
  box-shadow: 5px 10px blue;
  
}
.nasaImg{
  width:50%;
  height:50vh;
  margin:5% auto;
}
.explain{
  width:75%;
  margin:0 auto;
  margin-bottom:5%;
}
body{
  padding:2%;
  background:lightblue;
}
